@import "tailwindcss";

@tailwind base;
@tailwind utilities;

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    /* -- COLORS -- */
    /* Primary Colors */
    --color-primary: #00CFFF; /* Electric Cyan */
    --color-heading: #0c819b;
    --color-background: #0D1B24; /* Dark Teal/Blue-Black */

    /* Secondary Colors */
    --color-secondary: #1F3A4B; /* Steel Blue */
    --color-text-light: #F1F1F1; /* Soft White */
    --color-text-body: #CBD5E1; /* Soft neutral gray-blue */

    /* Accent Colors */
    --color-accent: #5A6D7A; /* Cool Gray */
    --color-contrast: #ffffff87; /* Snow White */

    /* -- FONTS -- */
    --font-heading: "Orbitron", sans-serif;
    --font-body: "Rubik", sans-serif;
}

@layer utilities {
    .font-heading {
        font-family: var(--font-heading), sans-serif;
}

    .font-body {
        font-family: var(--font-body), sans-serif;
    }
}

/* CLASSES */

.main-section {
    /* background: linear-gradient(0deg,rgba(184, 218, 252, 1) 0%, rgba(255, 255, 255, 1) 100%); */
    background-image: url("../images/background/bg_1.jpg");
    background-size: cover;

    background-position: center center;
    background-attachment: fixed;
}

.navbar-section {
    width: 100%;
    position: fixed;
    top: 0;
    backdrop-filter: blur(10px);
    background: #0d1b2430;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 100;
}

.hero-section {
    background-color: #000000c9;
    background-image: url("https://images.unsplash.com/photo-1506260408121-e353d10b87c7");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: darken;
}

.card {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 20px;
}

/* .card-divs {
    width: 100%;
    position: relative;
}

.card-divs .card {
    position: absolute;
} */

.card-divs .card:first-child {
    transform: rotate(-5deg) translateX(50px);
}

.card-divs .card:last-child {
    transform: rotate(5deg) translateX(-50px);
}

.card-divs .card {
    transition: 0.3s;
}

.card-divs .card:hover {
    cursor: pointer;
    transform: rotate(0) translateX(0);
    transform: scale(1.1);
    transition: 0.3s;
    z-index: 1000;
}

/* ANIMATION CLASSES */

.logo-animation {
    cursor: pointer;
}

.logo-animation:hover {
    animation: jump 2s ease-in-out infinite;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}



.underline-hover {
    position: relative;
    padding-bottom: 2px;
    width: auto;
    transition: 0.3s;
}

.underline-hover:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

.underline-hover::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-accent);
    transition: 0.3s;
}

.underline-hover:hover::before {
    width: 100%;
}